/*body {font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif; font-weight: 300;}*/
body {
  font-family:"HelveticaNeue-Thin", Helvetica, Arial, sans-serif;
  font-size: 9px;
}

.frontPageMenuFont{
  font-size: 1.5em;
}

.shadow{
  /*width:95%;*/
  border-bottom:1px solid black;
  display:block;
  margin:0 auto;
  /*box-shadow: 10px 10px 5px #888888;*/
  margin-bottom:20px;
  padding:20px;
  width: 50%;
}

.logo{
  position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-size: 5em;
    margin-top: 60px;
}

.askQnControls{
  /*width:50%;*/
  margin-top: 150px;
  margin-bottom: 30px;
}
/*.surveyLogo{
  font-size: 5em;
  text-align: center;
}*/

.qnView{
      margin-top: 135px;
      padding-left: 30px;
      padding-right: 30px;
}

.surveyNavBar{
  background-color: white;
  border-color: white;
  min-height: 130px;
}

.shadow:after {
    content:"";
    display: table;
    clear: both;
}
.shadow h1{
  font-size:2.5em;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 7px;
}
.shadow h2{
  font-size:2.2em;
  margin-left: 10px;
}
.qnAns{
  float: left;
  width: 100%;
  /*border:1px solid blue;*/
}
.commentBox{
  font-size:1.2em;
}
.graphBox h1{
  margin-bottom: 30px;
  text-align: center;
}
.graphBox h4{
  text-align: center;
}
.keybox{
  margin:30px auto;
  text-align: center;
}
.key{
  font-size: 1.6em;
  display:inline;
}

.surveyList{
  font-size: 1.5em;
}

.graphRight{
  /*border:1px solid red;*/
  float: right;
    width: 32%;
  margin-right:2%;
}

img {
  height:auto;
  max-width:100%;
}

.finished{
  display:block;
  font-size:1.5em;
  min-height:50px;
  margin:25px auto;
}
.hider,.cmmt{

  font-size:1.5em;
  max-width:300px;
  margin:0 auto;
  display:block;
  border:1px solid black;
  text-align:center;
  margin-top:20px;
}
.starter{
  font-size:2em;
  display:block;
  border:1px solid black;
  text-align:center;
  margin-top:20px;
}
.chk,.scale,.qry{
  font-size:2.5em;
  display:inline-block;
  padding:20px;
  margin:5px;
  border:1px solid black;
}

.chk:hover,.rdo:hover,.hider:hover,.scale:hover{
  background-color: #777777;
}
.checked{
  color:white;
  background-color:black;
}
input[type="radio"]{
  width:50px;
  height:50px;
  font-size:1.5em;

}
input.rdo{
  font-size:1.5em;
  margin-left: 5%;
}

input.chk{

  width:50px;
  height:50px;
}
label{
  font-size:1.5em;
  position: relative;
  top:-15px;
}

textarea {
  width:95%;
  display:block;
  resize: none;
  margin:0px auto;
  font-size:2em;
  color:black;
}

.graphBox{
  /*border:1px solid red;*/
  display:inline-block;
  width:400px;
}
.control-label{
  /*border:1px solid red;*/
  display:inline-block;
  min-width:200px;
  top:0px;
}
.panel{
  margin-top:20px;
}

@media all and (max-width: 980px){
  .shadow{
    width:95%;
  }
}

/*@media all and (max-width: 980px){
  .shadow{
    width:80%;
  }
}*/

@media all and (max-width: 450px){

.askQnControls{
  /*width: 100%;*/
}
  .chk:hover,.rdo:hover,.hider:hover,.scale:hover{
    border:1px solid black;
  }
  .chk,.scale,.qry{
    /*margin-left: 25px;*/
    font-size: 2em;
    padding:12px;
  }
  .shadow{
    width:100%;
    border:none;
    display:block;
    margin:5px auto;
    box-shadow: none;
    margin-bottom:5px;
    padding-left:0px;
    padding-bottom:0px
  }


  input[type="radio"]{
    /*margin-left:10%;*/
  display:block;
  }
  input.chk{

    width:12px;
    height:12px;
  }
  label{
    /*border:1px solid red;*/
    /*margin-left:2%;*/
    /*top:8px;*/
    /*top:-40px;
    left:10px;*/
  }
  textarea {
    margin:0px auto;
    font-size:1.2em;
  }
  .shadow{

    width:100%;
    border-top:none;
    border-left:none;
    box-shadow: none;
    padding-bottom:15px;
    padding-left:5px;
  }
  .qnAns,.graphRight{
    float: none;
    width: auto;

  }
}
